.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* MEDIA QUERY */

@media (max-width: 419px) {
 
  body {
    background-color: #F2F2CD;
    content: "";
    display: table;
    clear: both;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
  }

  .row, #why .row>.first, #why .row>.second, #why .row>.third {
    margin: 0;
  }

  #lezioni .row>.left, #lezioni .row>.right, #steps .row>.left, #steps .row>.central, #steps .row>.right {
    width: auto;
  }

  h3 {
    margin: 0;
  }  

  img {
    height: 100px;
  }

  #why {
    background-color: #F2F2CD;
  }
}

/* bonus */

@media (min-width: 420px) and (max-width: 768px) {
  
  body {
    background-color: #444444;
    color: white;
    content: "";
    display: table;
    clear: both;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 768px;
  }

  .row, #why .row>.first, #why .row>.second, #why .row>.third {
    margin: 0;
  }

  #lezioni .row>.left, #lezioni .row>.right, #steps .row>.left, #steps .row>.central, #steps .row>.right {
    width: auto;
  }

  h3 {
    margin: 0;
  }  

  img {
    height: 150px;
  }

  #why, #steps {
    background-color: #444444;
  }
}

/* / bonus */